// Override this file to add your own SCSS styling.
// From the Aussie palette of flatuicolors.com https://flatuicolors.com/palette/au

// Plasma colors + the palette from above
$colors-dark: (
    #eb4d4b,  /* 1 Carmine Pink red */
    #f0932b,  /* 2 Quince Jelly orange */
    #f9ca24,  /* 3 Turbo yellow */
    #6ab04c,  /* 4 Pure Apple green */
    #22a6b3,   /* 5 Greenland Green teal */
    #4834d4,  /* 6 Blurple blue */
    #be2edd,  /* 7 Steel Pink purple */
);

$colors-light: (
    #ff7979,  /* 1 Pink Glamour red */
    #ffbe76,  /* 2 Spiced Nectarine orange */
    #f6e58d,  /* 3 Beekeeper yellow */
    #badc58,  /* 4 June Bud green */
    #7ed6df,   /* 5 Middle Blue teal */
    #686de0,  /* 6 Exodus Fruit blue */
    #e056fd,  /* 7 Heliotrope purple */
);


h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2.75rem;
}

kbd {
    font-size: 75%;
}

.article-container {
    max-width: 960px;
}

.docs-article-container {
    max-width: 960px;
}

.docs-sidebar .nav > li {
    line-height: 1.2;
}

#hero img {
    max-width: 60%;
}

.hero-title {
    line-height: 1.2;
    font-weight: 700;
}

.icon-list {
    list-style: none;
    text-indent: -0.7rem;
    padding-left: 1.4rem;
}

.contact-policy {
    font-size: 0.8rem;
    line-height: 1.5;
}

.due-date {
    margin-bottom: 2.5rem;
}

footer {
    margin-top: 2rem;
}

footer p {
    text-align: left;
    font-size: 100%;
}

.course-info {
    font-size: 0.9rem;
}

.credits {
    font-size: 0.7rem;
}

.course-info p, .credits p {
    margin-bottom: 0.3rem;
}

.centered-table table {
    margin: 0 auto 1rem;
}

.article-style #TOC:before {
    content: "Contents";
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    background-color: #ddd;
    padding: 5px 10px 0px;
    margin-bottom: 1.1rem;
}

.article-style #TOC {
//  font-family: "Overpass", sans-serif;
    font-size: 0.8rem;
    text-align: left;
    background: #f2f2f2;
    padding: 8px 8px;
    margin: 4px 0 2rem;
}

.article-style #TOC ul {
    padding-left: 2em;
}

.footnotes {
    font-size: 0.8rem;
    line-height: 1.3;
}

// .fake-header {
//     font-family: "Oswald", sans-serif;
//     font-weight: 700;
//     text-transform: uppercase;
//     font-size: 1.2rem;
// }

.fake-header-table, td.mid-table-header {
//    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 700;
}

.fake-header-table {
    font-size: 1.1rem;
}

td.mid-table-header {
    text-align: center;
    vertical-align: middle !important;
}

.article-style .slide-thumb {
    margin-top: 0;
}


.bg-class {
    background-color: nth($colors-dark, 6);
}

.bg-content {
    background-color: nth($colors-dark, 4);
}

.bg-assignment {
    background-color: nth($colors-dark, 7);
}

.question form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.question p[id^="result_"] {
    color: nth($colors-dark, 4);
    padding-top: 1em;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.question label {
    padding-left: 0.4em;
    font-weight: bold;
}

div.note,
div.fyi,
div.puzzle,
div.quiz,
div.warning {
    position: relative;
    padding: 1em 1em 1em 100px;
    margin: 1em 0;
    min-height: 120px;
}

div.note:before,
div.fyi:before,
div.puzzle:before,
div.quiz:before,
div.warning:before {
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 70px;
    top: 0;
    opacity: 0.5;
}

div.note {
    color: nth($colors-dark, 7);
    background-color: rgba(nth($colors-light, 7), 0.2);
    border: dotted 4px nth($colors-dark, 7);
}

// fa-sticky-note
div.note:before {
    content: '\f249';
    left: 20px;
}

div.fyi {
    color: nth($colors-dark, 6);
    background-color: rgba(nth($colors-light, 6), 0.2);
    border: dotted 4px nth($colors-dark, 6);
}

// fa-info-circle
div.fyi:before {
    content: '\f05a';
    left: 20px;
}

div.puzzle {
    color: nth($colors-dark, 5);
    background-color: rgba(nth($colors-light, 5), 0.2);
    border: dotted 4px nth($colors-dark, 5);
}

// fa-puzzle-piece
div.puzzle:before {
    content: '\f12e';
    left: 20px;
}

div.quiz {
    color: nth($colors-dark, 3);
    background-color: rgba(nth($colors-light, 3), 0.2);
    border: dashed 4px nth($colors-dark, 3);
    font-size: 32px;
}

// fa-question-circle
div.quiz:before {
    content: '\f059';
    left: 20px;
}

div.warning {
    color: #FFFFFF;
    background-color: nth($colors-dark, 1);
    border: dashed 4px #FFFFFF;
}

// fa-exclamation-triangle
div.warning:before {
    content: '\f071';
    left: 14px;
}
