<table class="table schedule" style="max-width:100%">
    <tbody>

        {{- range .Site.Data.schedule }}
        {{- range . }}
        <tr>
            <td align="right" style="width:18%;text-align:right">{{ .date }}</td>
            <td style="width:50%;text-align:left">{{ .title | markdownify }}</td>

            {{- if .header }}

            <td style="width:8%;text-align:center" class="mid-table-header">Lecture</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Practice</td>
            <td style="width:8%;text-align:center" class="mid-table-header">Assignment</td>

            {{- else }}

            {{- if .lectures }}
            <td align="center" style="width:10%;text-align:center"><a
                    href="{{ .Site.baseurl }}/lectures/{{ .lectures }}/">
                    <i title="Lecture for this topic" class="fas fa-book-reader fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-book-reader fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .practice }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/practice/{{ .practice }}/">
                    <i title="Practice set for this lecture" class="fas fa-laptop-code fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-laptop-code fa-lg"></i></font>
            </td>
            {{- end }}

            {{- if .assignments }}
            <td align="center" style="width:10%;text-align:center"><a href="{{ .Site.baseurl }}/assignments/{{ .assignments }}/">
                    <i title="Assignment for these topics; due the following MONDAY" class="fas fa-pencil-ruler fa-lg"></i></a></td>
            {{- else }}
            <td align="center" style="width:10%;text-align:center">
                <font color="f1f1f1">
                    <i class="fas fa-pencil-ruler fa-lg"></i></font>
            </td>
            {{- end }}
            

            {{- end }}
        </tr>
        {{- end }}
        {{- end }}

    </tbody>

</table>